body{
  margin: 0;
  height: 100vh;
}
small{
  font-size:90px;
  cursor: default;
}
.computer{
  position: relative;
  top: 30px;
  left: 0;
  width: 100%;
  height: 200px;
  text-align: center;
}
.board{
  position: relative;
  margin: 150px auto;
  width: 100%;
}
.player{
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
